<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue.js"></script>
    <title>Exercício</title>
</head>

<body>
    <!-- 
    Crie um componente com um campo de input e um botão para enviar o valor.
    Nesse campo de input será possível escrever o simbolo de empresas americanas

    simbolos ex:
    aapl -> Apple
    goog -> Google
    msft -> Microsoft
    amzn -> Amazon
    fb -> Facebook

    Ao clicar no botão, faça um fetch com a API:
    https://cloud.iexapis.com/stable/stock/{SIMBOLO}/quote?token=pk_ce65ce9a8401462896876061da0ed90d

    O resultado do fetch deverá ser mostrado em um componente filho do formulário.
    Envia as informações utilizando prop

    Mostre todas as informações do fetch utilizando um loop.
    -->

    <div id="app">
        <resultado-fetch></resultado-fetch>
    </div>

    <script type="module">

        const DadosAcao = {
            name: "DadosAcao",
            props: ["acao"],
            template: `
            <ul>
                <li v-for="(dado,chave) in acao">{{chave}} : {{dado}}</li>
            </ul>
            `
        }

        const ResultadoFetch = {
            name: "ResultadoFetch",
            components: { DadosAcao },
            data() {
                return {
                    simbolo: "",
                    quote: {}
                }
            },
            template: `
            <div>
                <input type="text" v-model="simbolo">
                <button @click="fetchAcao">Buscar</button>
                <dados-acao :acao="quote"></dados-acao>
            </div>
            `,
            methods: {
                fetchAcao() {
                    fetch(`https://cloud.iexapis.com/stable/stock/${this.simbolo}/quote?token=pk_ce65ce9a8401462896876061da0ed90d`)
                        .then(response => response.json())
                        .then(json => this.quote = json)
                }
            }
        }

        const vm = new Vue({
            el: "#app",
            components: {
                ResultadoFetch
            }
        })

    </script>

</body>

</html>