<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component</title>
    <script src="./vue.js"></script>
</head>

<body>

    <div id="app">

        <componente-local></componente-local>

    </div>




    <script>
        const ComponenteLocal = { // é o nome do selector que vai ser invocado no html
            name: "ComponenteLocal",
            template: `<div>
                <p>Componente Local</p>
                <componente-global></componente-global>
                <componente-local2></componente-local2>
                </div>`
        }

        const ComponenteLocal2 = { // é o nome do selector que vai ser invocado no html
            name: "ComponenteLocal",
            data() {
                return {
                    contar: 20
                }
            },
            template: `<div>
                <p>Componente Local 2</p> 
                <p>Segundo {{contarDobro}}</p>
                </div>`,
            computed: {
                contarDobro() {
                    return this.contar * 2
                }
            }
        }

        Vue.component("ComponenteGlobal", {
            template: `<p>Isso é Global</p>`
        })

        Vue.component("ComponenteLocal2", ComponenteLocal2)

        const vm = new Vue({
            el: "#app",
            components: {
                ComponenteLocal
            }
        })
    </script>
</body>

</html>